<%- include('../templates/navbar'); %> 
<p>Only for previlaged people</p>
<h1>Welcome <%= user_data['first_name'] %> <%= user_data['last_name'] %>  </h1>
<a href="/payment/makeTransaction">
    <button>
        Do A Transaction
    </button>
</a>

<a href="/payment/history">
    <button>
        See Outgoing Transactions 
    </button>
</a>

<a href="/user/face-detection">
    <button>
        Save A Image
    </button>
</a>

<form action="/logout" method="POST">
    <input type="submit" name="Logout" value="Logout">
</form>
<%- include('../templates/footer'); %> 