body{
    background-color: #40798C;
    color: #ced2dc;
}

nav{
    font-size: 20px;
}

.btn-outline-primary:hover{
    background-color: #ced2dc;
    border-color: black;
    color: black;
}

.btn-outline-primary{
    border-color: #ced2dc;
    color: #ced2dc;
}

.btn{
    border-radius: 6px;
}