<%- include('../templates/navbar'); %> 
<p>This is login page</p>
<form action="/user/login" method="POST">
    <input type="email" name="email">
    <br>
    <input type="password" name="password">
    <br>
    <input type="submit" name="login">
</form>
<%- include('../templates/footer'); %> 