<%- include('../templates/navbar'); %> 
<form action="/user/signup" method="POST">
    <input type="text" name="first_name" placeholder="first_name">
    <br>
    <input type="text" name="last_name" id="" placeholder="last_name">
    <br>
    <input type="number" name="mobile_number" placeholder="mobile_number">
    <br>
    <select name="gender" id="gender">
        <option value="male">Male</option>
        <option value="Female">Female</option>
        <option value="others">Others</option>
    </select>
    <br>
    <input type="number" name="age" id="" placeholder="age">
    <br>
    <input type="email" name="email" id="" placeholder="email">
    <br>
    <input type="number" name="account_number" id="" placeholder="account number">
    <br>
    <input type="password" name="password" id="" placeholder="***">
    <br>
    <input type="password" name="confirm_password" id="" placeholder="confirm ***">
    <br>
    <input type="number" name="pin" id="" placeholder="pin">
    <br>
    <input type="submit" name="add" value="ADD">
</form> 
<%- include('../templates/footer'); %> 